 <!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>KopfFit</title>
</head>
<body>
    <h1>KopfFit</h1>
    <p>Gemeinsam denken, erinnern und Spass haben.</p>
    <a href="{{ url_for('categories') }}"><button>Quiz starten</button> </a><br>
    <button>Hilfe</button>
    <button>Kontrast</button>


</body>
 <footer>
    &copy; {{ current_year }} Alireza. All rights reserved.
</footer>
</html>