<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Quiz | KopfFit</title>
</head>

<body>

    <a href="/categories">Zurück</a>

    <h1>KopfFit</h1>

    <p>Frage 1 von 10</p>

    <h2>Welche Farbe hat eine Banane normalerweise?</h2>

    <input type="radio" id="gelb" name="answer">
    <label for="gelb">Gelb</label>

    <br>

    <input type="radio" id="blau" name="answer">
    <label for="blau">Blau</label>

    <br>

    <input type="radio" id="rot" name="answer">
    <label for="rot">Rot</label>

    <br>

    <input type="radio" id="schwarz" name="answer">
    <label for="schwarz">Schwarz</label>

    <br><br>

    <button>Antwort prüfen</button>

</body>
</html>