<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Spiele | KopfFit</title>
</head>
<body>

    <h1>Wähle eine Kategorie</h1>
    <p>Was interessiert dich heute?</p>

    <a href="{{ url_for('quiz') }}"><button>Allgemeinwissen</button></a>
    <button>Musik</button>
    <button>Geschichte</button>
    <button>Natur</button>
    <button>Alltag</button>
    <button>Erinnerungen</button>

    <br><br>

    <a href="/">Zurück</a>

</body>
</html>
